/* 
    Developer: Ali Sariyer
    CSS Name convention: BEM (Block element modifier)

*/
:root {
    --c-moderate-blue: hsl(238, 40%, 52%);
    --c-soft-red: hsl(358, 79%, 66%);
    --c-light-grayish-blue: hsl(239, 57%, 85%);
    --c-pale-red: hsl(357, 100%, 86%);
    --c-dark-blue: hsl(212, 24%, 26%);
    --c-grayish-blue: hsl(211, 10%, 45%);
    --c-light-gray: hsl(223, 19%, 93%);
    --c-very-light-gray: hsl(228, 33%, 97%);
    --c-white: hsl(0, 0%, 100%);
    --c-transparent: rgba(0, 0, 0, .5);
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-bold: 700;
    --delay: .3s;
    font-size: 62.5%;

    /* To use resize elements by this reference - Responsive Design */
    --rem: .9rem;
}

*, *::before, *::after {
    box-sizing: border-box;
    outline: none;
}

body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

body {
    margin: calc(var(--rem) * 3.6) calc(var(--rem) * 1.6);
    background-color:  var(--c-light-gray);
    font-family: 'Rubik', sans-serif;
    font-size: calc(var(--rem) * 1.6)
}

p {
    line-height: 1.3;
}

button, a {
    cursor: pointer;
    border: none;
    border-radius: calc(var(--rem) * .7);
    transition: background-color var(--delay);
}

.container {
    margin: 0 auto;
    max-width: calc(var(--rem) * 65); 
}