/**********************************************************************
                ONE BREAKPOINT FOR RESPONSIVE SUPPORT
***********************************************************************/

@media screen and (min-width: 890px) {
    :root {
        --rem: 1rem;
    }
    .card {
        gap: calc(var(--rem) * 1.2) calc(var(--rem) * 1.4);
    }

    .offset {
        padding-left: calc(var(--rem) * 3.4);
        margin-left: calc(var(--rem) * 3.4);
    }

    .card-header {
        grid-area: 1 / 2 / 2 / 3;
    }

    .card-body {
        grid-area: 2 / 2 / 4 / 4;
    }

    .card-vote {
        grid-area: 1 / 1 / 4 / 2;
        flex-direction: column;
    }

    .card-modify {
        grid-area: 1 / 3 / 2 / 4;
        justify-content: flex-end;
    }

    .card-vote * {
        width: calc(var(--rem) * 3.6);
        height: calc(var(--rem) * 2.5);
        /* padding: calc(var(--rem)) calc(var(--rem) * 1.3) ; */
    }

    .card-input {
        grid-area: 1 / 2 / 4 / 3;
        width: calc(var(--rem) * 44);
    }
    
    .card-img-grid {
        grid-area: 1 / 1 / 2 / 2;
    }
    
    .card-btn {
        grid-area: 1 / 3 / 2 / 4;
    }

}