.modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-color: var(--c-transparent);
    display: flex;
    justify-content: center;
    align-items: center;
}


.modal section {
    max-width: calc(var(--rem) * 36);
    margin: calc(var(--rem) * 1.5);
    padding: calc(var(--rem) * 1.8);
    background-color: var(--c-white);
    border-radius: calc(var(--rem) * .7);
}
.modal h3 {
    font-size: calc(var(--rem) * 1.8);
    line-height: 2;
    color: var(--c-grayish-blue);
}

.modal p {
    color: var(--c-grayish-blue);
}

.modal-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: calc(var(--rem) * 1.5);
}

.modal-footer button {
    padding: calc(var(--rem))  calc(var(--rem) * 2);
    color: var(--c-white);
    font-weight: var(--fw-regular); 
}

.btn-no {
    background-color: var(--c-grayish-blue);
}

.btn-no:hover, .btn-no:active, .btn-no:focus {
    background-color: var(--c-light-grayish-blue);
}

.btn-yes {
    background-color: var(--c-soft-red);
}

.btn-yes:hover, .btn-yes:active, .btn-yes:focus {
    background-color: var(--c-pale-red);
}